* {box-sizing:border-box}

.test {
  text-align: center;
  background-color: #333333;
  padding: 4rem;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  .content {
    display: none;
  }
}

