
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

  /* Make the images invisible by default */
  .Containers {
    border-radius: 0.25rem;
    display: none;
    background-color: #696969;
    padding: 2rem 3rem 3rem;
    min-height: min-content;
    font-family: Arial, Helvetica, sans-serif;
    img {
      width: 100%;
      max-height: 24rem;
    }
    /* Caption Info */
    .Info {
      position: relative;
      padding: 1rem;
      color: #ffffff;
      font-size: 16px;
      text-align: center;
    }
    
    /* Worknumbering (1/3 etc) */
    .MessageInfo {
      color: #ffffff;
      font-size: 14px;
      padding: 10px 14px;
      position: absolute;
      top: 0;
    }
  }
  /* forward & Back buttons */
  .Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }

  /* Place the "forward button" to the right */
  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }

  /*when the user hovers,add a black background with some little opacity */
  .Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
  }
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: rgb(200, 200, 200);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #696969;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


.test {
  text-align: center;
  background-color: #333333;
  padding: 4rem;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
}

.collapsible {
  text-align: center;;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  color: #000;
}


.chrome {
	font-family: "Montserrat";
	font-weight:900;
	font-size: calc(20px);
	background-image:linear-gradient(#2989cc 0%, #d3e5ec 50%,#592451 51%,#b3628d 55%,#592451 59%,#b3628d 65%,#ac86a6 75%, #b3628d 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent; 
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(255,255,255,0.4);
	position:relative;
  &::before {
    content:attr(data-text);
    text-shadow: -1px -1px 1px #2989cc,-2px -2px 1px #2989cc, -3px -3px 1px #2989cc, 1px 1px 1px #000, 0px -1px 2px #000, -1px -2px 2px #000, 0 0 5px rgba(255,255,255,1); 
    opacity:1;
    position:absolute;
    z-index:-1;
  }
}

  
.shine::after {
	content:attr(data-text);
	background-image:linear-gradient(225deg,transparent 53%,white 55%,transparent 58%);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-background-clip: text;
	background-clip: text;
	z-index:999;
	background-size: 400% 400%;
	animation:shine 10s ease infinite;
	animation-delay:var(--shine-delay,0s);
}
  
@keyframes shine{
	0%{background-position:0% 51%}
	50%{background-position:100% 50%}
	100%{background-position:0% 51%}
}